



<div class="card mb-3 mb-lg-5">
    <!-- Header -->
    <div class="card-header card-header-content-sm-between">
        <h2 class="card-header-title">Co-operatives Members</h2>

        <div class="d-grid d-sm-flex gap-2">
            <!-- Select -->
            <div class="tom-select-custom">

            </div>
            <!-- End Select -->

            <!-- Daterangepicker -->
            <button class="btn btn-white btn-sm dropdown-toggle">
                <i class="bi-calendar-week"></i>
                <span class="ms-1"></span>
            </button>
            <!-- End Daterangepicker -->
        </div>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
        <div class="row col-lg-divider">
            <div class="col-lg-9 mb-5 mb-lg-0">


                <div class="chartjs-custom">
                    <canvas #updatingBarChart style="height: 320px; width: 100%;"></canvas>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <span class="legend-indicator"></span> Revenue
                    </div>
                    <!-- End Col -->

                    <div class="col-auto">
                        <span class="legend-indicator bg-primary"></span> Orders
                    </div>
                    <!-- End Col -->
                </div>
            </div>

            <div class="col-lg-3">
                <div class="row">
                    <div class="col-sm-6 col-lg-12">
                        <!-- Stats -->
                        <div class="d-flex justify-content-center flex-column" style="min-height: 9rem;">
                            <h6 class="card-subtitle">Total Registrations</h6>
                            <span class="d-block display-4 text-dark mb-1 me-3">3444</span>

                        </div>
                        <!-- End Stats -->

                        <hr class="d-none d-lg-block my-0">
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-6 col-lg-12">
                        <!-- Stats -->
                        <div class="d-flex justify-content-center flex-column" style="min-height: 9rem;">
                            <h6 class="card-subtitle">Active Users</h6>
                            <span class="d-block display-4 text-dark mb-1 me-3">444</span>
                            <span class="d-block" >

                                3334
              </span>
                        </div>
                        <!-- End Stats -->
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Body -->
</div>